<!DOCTYPE html>
<html>
    <title>
        Test EJS
    </title>
    <body>
        <!-- <form method="POST" action="/users/new"> -->
        <form method="GET" action="/users/5e09e6e7d803d914744ac28d/userprofile">

        <!-- <input type="text" placeholder="title" name="title"/> -->
        <!-- <input type="text" placeholder="description" name="description"/> -->
        <!-- <input type="text" placeholder="likes" name="likes"/> -->
        <!-- <input type="password" placeholder="Password" name="password"/> -->
        <!-- <input type="text" placeholder="author" name="uId"/> -->
        <!-- <input type="text" placeholder="Gender" name="gender"/> -->
        <!-- <input type="text" placeholder="Age" name="age"/> -->
        <input type="submit" value="Update Post"/>

        </form>
        <br>
        <hr>
        <!-- <form method="GET" action="/">
            <input type="text" placeholder="UserId" name="id"/>
            <button type="submit">Get User</button>
        </form> -->
    </body>
</html>